<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- To do: 아래 태그에 들어가는 문자열을 수정하고, 이 주석은 지웁니다. -->
  <title>광고 이름</title>
  <!-- To do: URL= 다음에 오는 실제 링크 주소를 수정합니다. 쿼리 문자열 부분은 애널리틱스용으로 자유롭게 지정 가능합니다. 수정 후, 이 주석은 지웁니다. -->
  <meta http-equiv="refresh" content="0;URL='https://연결할 웹 사이트 주소/?refresh=1'" />
  <!-- To do: 아래 태그의 content 어트리뷰트에 들어가는 문자열을 수정합니다. 수정 후 이 주석은 지웁니다. -->
  <meta property="og:title" content="광고 이름" />
  <!-- To do: 아래 태그의 content 어트리뷰트에 들어가는 문자열을 수정합니다. 수정 후 이 주석은 지웁니다. -->
  <meta property="og:site_name" content="광고 홈페이지 이름" />
  <!-- To do: 아래 태그의 content 어트리뷰트에 들어가는 문자열을 수정합니다. 수정 후 이 주석은 지웁니다. -->
  <meta property="og:url" content="https://연결할 웹 사이트의 도메인 이름" />
  <!-- To do: 아래 태그의 content 어트리뷰트에 들어가는 문자열을 수정합니다. 수정 후 이 주석은 지웁니다. -->
  <meta property="og:description" content="광고 설명" />
  <!-- To do: 아래 태그의 content 어트리뷰트에 들어가는 문자열을 수정합니다. 수정 후 이 주석은 지웁니다. -->
  <meta property="og:image" content="광고 이미지 파일 이름" />

  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta property="og:type" content="website" />
</head>
<body>
  <!-- To do: 아래 a 태그의 href 어트리뷰트에 들어가는 문자열, 그리고 strong 태그에 들어가는 문자열을 수정합니다. 수정 후 이 주석은 지웁니다. -->
  <p><a href="https://연결할 웹 사이트 주소/?refresh=1">자동으로 <strong>광고 홈페이지 이름</strong> 홈페이지로 전환되지 않을 경우 여기를 클릭하세요.</a></p>
</body>
</html>
